certifi==2021.5.30
chardet==4.0.0
click==8.0.1
Flask==2.0.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
psycopg2-binary==2.8.6
python-http-client==3.3.2
requests==2.25.1
schedule @ git+https://github.com/atrnh/schedule.git@9167d9871d316aeb04daf95a65cf9bc9caec4706
sendgrid==6.7.0
SQLAlchemy==1.4.17
starkbank-ecdsa==1.1.1
urllib3==1.26.5
Werkzeug==2.0.1
