body {
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

.right {
    right: 0;
}

.profile {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.profile:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.login {
    width: 100%;
}


.search {
    padding : 20px;
}

.navbar {
    background-color: #39b7b1;
    color: #7ed957;
}

.select-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.select-img:checked {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.tips {
    width: 150px;
}