{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block body %}
<h1>This is where you add a new food</h1>

<h2>Navigation</h2>
<ul>
    <li><a href = "/">food list</a></li>
    <li><a href = "/profile">profile</a></li>
</ul>

<h2>{{ name }}</h2>
<a href="/">Search</a>
<form action="/add-item" method="POST">
  
    <p>
        Select a place to store your food
    </p>
    {% for item in info %}
    <input type="radio" name="add-food" value="{{ name }}, {{ item[0] }}, {{ item[2] }}">
    <label>{{ item[0] }}</label>
    {% endfor %}
  
    <button type="submit">Add food</button>
</form>

<p>
    {% for item in info %}
    Location: {{ info[0][0] }}
    <br>
    Expiration: {{ info[0][1] }}
    <br>
    {% endfor %}
    

    Tips: 
    {% for tip in tips %}
    <ul><li>{{ tip }}</li></ul>
    {% endfor %}
</p>

{% endblock %}