{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block body %}
<h1>This is where you add a new food</h1>

<h2>Navigation</h2>
<ul>
    <li><a href = "/">food list</a></li>
    <li><a href = "/profile">profile</a></li>
</ul>

<h2>{{ info['name'] }}</h2>
<a href="/">Search</a>
<form action="/add-item" method="POST">
  
    <p>
        Select a place to store your food
    </p>
    <input type="radio" name="add-food" value="{{ info['name'] }},{{info['methods'][0]['location'] }},{{ info['methods'][0]['expirationTime'] }}">
    <label>{{ info['methods'][0]['location'] }}</label>

    <input type="radio" name="add-food" value="{{ info['name'] }},{{info['methods'][1]['location'] }},{{ info['methods'][1]['expirationTime'] }}">
    <label>{{ info['methods'][1]['location'] }}</label>
    <button type="submit">Add food</button>
</form>

<p>
    Location: {{ info['methods'][0]['location'] }}
    <!--value of radio buttons will be location and expiration 
    value='location&expiration' then split res on-->
    <br>
    Expiration: {{ info['methods'][0]['expiration'] }}
    <br>
    Location: {{ info['methods'][1]['location'] }}
    <br>
    Expiration: {{ info['methods'][1]['expiration'] }}
    <br>
    Tips: {% for tip in info['tips'] %}
    <ul>{{ tip }}</ul>
    {% endfor %}
</p>

{% endblock %}