<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block head %} {% endblock %}
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/static/img/tossitlogo.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/static/img/tossitlogo.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/img/tossitlogo.png" sizes="96x96">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet"> 
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- My CSS-->
        <link href="/static/css/style.css" rel="stylesheet">

    </head>
    <body class="d-flex flex-column h-100">
      <header>
        {% if current_user.is_authenticated %}
        <nav class="navbar navbar-expand-md navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="/static/img/tossitlogo.png" alt="" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse collapse show" id="navbarCollapse" style="">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                </li>
              </ul>
              
              <div class="d-flex">
                <div class="login-name row align-items-center">
                  {{ current_user.user_name }}
                </div> 
                <img class="nav-img" src="{{ user_img }}" alt="user_img">
              </div>
              <form class="d-flex" action="/logout">
                <button class="btn btn-outline-primary" type="submit">Log Out</button>
              </form>
            </div>
          </div>
        </nav>
        
      </header>


          {% endif %}
        {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
            {{ msg }}
        </p>
        {% endfor %}

        
        <div class="content-body">
          {% block body %}{% endblock %}
        </div>
        

        {% block after_body %}{% endblock %}
        {% if current_user.is_authenticated %}
        <footer class="footer mt-auto" style="width: 100%">
          <div class= "container">
            <p style="width:100%"><span>Track your food, clean out your fridge!</span>  
              <span class="text-center"><a href="/">Home</a></span>
              <span class="text-end">Toss it!</span>    
            </p>
          </div>
        </footer>
        {% endif %}
    </body>
</html>