{% extends 'base.html' %} 

{% block title %} Change password {% endblock %}

{% block body %}
<h1>Change password</h1>



{% if current_user.is_authenticated %}
<img class="profile" src="{{ user_img }}" alt="user_img">
<p>Hello, {{ current_user.user_name }}</p>
{% endif %}

<form action="/change-password" method="POST">
    <p>
        New password: <input type="text" name="password1">
    </p>
    <p>
        Re-enter new password <input type="text" name="password2">
    </p>
    <p>
        <button class="btn btn-outline-primary" type="submit">Submit</button>
    </p>
</form>

{% endblock %}