{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block head %} 

<script 
    src="https://code.jquery.com/jquery-3.6.0.js" 
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
    crossorigin="anonymous"></script>


    {% if g.jasmine_tests %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/jasmine.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/jasmine-html.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/boot.min.js"></script>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/jasmine.min.css"
      />
    {% endif %}

{% endblock%}

{% block body %}
<h1>This is all the food you have!</h1>

<h2>Navigation</h2>
<ul>
    <li><a href = "/">food list</a></li>
    <li><a href = "/profile">profile</a></li>
</ul>
<div class = "container">
    <form action="/search">
        <input type="text" 
               name="searchBar"
               id="searchBar"
               placeholder="Search for food"/>
        <button type="submit">Submit</button>
    </form>
</div>

<section>
    <h2>Food list here</h2>
       
    
    <table width=100%>
    
        <tr>
            <th>Food name</th>
            <th>Location</th>
            <th>Expiration Date</th>
            <th>Delete</th>
        </tr>
        {% for food_id, name, loc, exp, user_food_id in food_by_user %}
        <tr>
        
        <td>{{ name }}</td>
        <td>{{ loc }}</td>
        <td>{{ exp }}</td>
        <td><form action="/delete" method="POST"><button type="submit" name="delete-food" value="{{ user_food_id }}">Delete</button></form></td>
        
        </tr>
        {% endfor %}
    </table>
       
    
</section>

<script src="/static/homepage.js"></script>
{% endblock %}