{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block head %} 

<script 
    src="https://code.jquery.com/jquery-3.6.0.js" 
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
    crossorigin="anonymous"></script>
<script src="/static/homepage.js"></script>
{% endblock%}

{% block body %}
<h1>This is all the food you have!</h1>

<h2>Navigation</h2>
<ul>
    <li><a href = "/">food list</a></li>
    <li><a href = "/profile">profile</a></li>
</ul>
<div class = "container">
    <form action="/search">
        <input type="text" 
               name="searchBar"
               id="searchBar"
               placeholder="Search for food"/>
        <button type="submit">Submit</button>
    </form>
</div>

<section>
    <h2>Food list here</h2>
    <ul id="foodItem"></ul>
</section>
{% endblock %}