{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block head %} 

<script 
    src="https://code.jquery.com/jquery-3.6.0.js" 
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
    crossorigin="anonymous"></script>


    {% if g.jasmine_tests %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/jasmine.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/jasmine-html.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/boot.min.js"></script>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.7.1/jasmine.min.css"
      />
    {% endif %}

{% endblock%}

{% block body %}

<img class="kitchen rounded mx-auto d-block img-fluid" src="/static/img/kitchen.jpg" alt="kitchen">





<div class="container" style="height:70px">
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="location-filter btn-check" id="btncheck1" autocomplete="off" data-location=" Refrigerator">
        <label class="btn btn-outline-primary" for="btncheck1">Refrigerator</label>
    
        <input type="checkbox" class="location-filter btn-check" id="btncheck2" autocomplete="off" data-location=" Freezer">
        <label class="btn btn-outline-primary" for="btncheck2">Freezer</label>
    
        <input type="checkbox" class="location-filter btn-check" id="btncheck3" autocomplete="off" data-location=" Pantry">
        <label class="btn btn-outline-primary" for="btncheck3">Pantry</label>
    </div>

    <div style="float:right">
        <form class="search" action="/search">
            <input type="text" 
                name="searchBar"
                id="searchBar"
                placeholder="Search for food"/>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

<section>
    <h2>Your food:</h2>
       
    <table class="table table-striped table-bordered" width=100%>
        
        <thead class="undefined sticky-header">
            <tr>
                <th>Food name</th>
                <th>Location</th>
                <th>Expiration Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% if food_by_user|count < 1 %}
            </table>
            <div class="text-center">
                <p>
                    It looks like your fridge is empty! Use the search bar to add some food to your fridge.
                </p>
                <p>
                    <img class="rounded" src="static/img/empty_fridge.jpg" alt="Empty fridge" width="300">
                </p>
            </div>

        {% else %}
            <tbody>
            {% for food_id, name, loc, exp, user_food_id in food_by_user %}
                    
                    <tr class="food-entry">
                        
                    <td>{{ name }}</td>
                    <td data-loc="{{ loc }}">{{ loc }}</td>
                    <td>{{ exp }}</td>
                    <td><form action="/delete" method="POST"><button class="btn btn-outline-primary" type="submit" name="delete-food" value="{{ user_food_id }}">Delete</button></form></td>
                        
                    </tr>
                    
            {% endfor %}
            </tbody>
        {% endif %}
            
    </table>
    
       
    
</section>

<script src="/static/homepage.js"></script>
{% endblock %}