{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
    <div class="col-6">
        <img class="login" src="/static/img/login_logo.jpg" alt="login logo">
    </div>

    <div class="col-6">
        <h2>Log In</h2>

        <form action="/login" method="POST">
            <p>
                Email <input type="text" name="email">
            </p>
            <p>
                Password <input type="password" name="password">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>

        <p>Are you new to our site? Click <a href='/register'>here</a> to register for an account.</p>
    </div>
</div>

</div>

{% endblock %}