{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block body %}

<h1>This is where you log in</h1>

<h2>Navigation</h2>
<ul>
    <li><a href = "/">food list</a></li>
    <li><a href = "/profile">profile</a></li>
</ul>


<div class="right">

<h2>Log In</h2>

<form action="/login" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="password" name="password">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

<p>Are you new to our site? Click <a href='/register'>here</a> to register for an account.</p>

</div>

{% endblock %}