{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block body %}
<h1>This is for a new user</h1>

<h2>Navigation</h2>
<ul>
    <li><a href = "/">food list</a></li>
    <li><a href = "/profile">profile</a></li>
</ul>

<h2>Create an account</h2>
<form action="/users" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="text" name="password">
    </p>
    <p>
        Phone number<input type="text" name="phone">
    </p>
    <p>
        Prefered contact 
        <input type="radio" name="pref-contact" value="email">
        <label>Email</label>

        <input type="ratio" name="pref-contact" value="phone">
        <label>Phone</label>
    </p>
    <p>
        <input type="submit">
    </p>
</form>

{% endblock %}