{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block body %}
<h1>This is for a new user</h1>

<h2>Navigation</h2>
<ul>
    <li><a href = "/login">Login</a></li>
    
</ul>

<h2>Create an account</h2>
<form action="/register" method="POST">
    <p>
        Username<input type="text" name="user_name">
    </p>
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="password" name="password">
    </p>
    <p>
        Select an image:
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <label>
                <input class="btn-check" type="radio" name="user_img" id="delivery" value="/static/img/delivery.jpg">
                <label for="delivery">
                    <img class="select-img" src="/static/img/delivery.jpg" alt="Delivery Driver">
                </label>
            </label>
            <label>
                <input class="btn-check" type="radio" name="user_img" id="pizza" value="/static/img/pizza.jpg">
                <label for="pizza">
                    <img class="select-img" src="/static/img/pizza.jpg" alt="Pizza">
                </label>
            </label>
            <label>
                <input class="btn-check" type="radio" name="user_img" id="astronaut" value="/static/img/astronaut.jpg">
                <label for="astronaut">
                    <img class="select-img" src="/static/img/astronaut.jpg" alt="Astronaut Eating a Hambuger">
                </label>
            </label>
            <label>
                <input class="btn-check" type="radio" name="user_img" id="octopus" value="/static/img/octopus.jpg">
                <label for ="octopus">
                    <img class="select-img" src="/static/img/octopus.jpg" alt="Octopus Chef">
                </label>
            </label>
        </div>
        
    </p>
    <p>
        <input type="submit">
    </p>
</form>

<p>
    images from :<a href="https://www.freepik.com/free-photos-vectors/food">Food vector created by mamewmy - www.freepik.com</a> 
    <a href='https://www.freepik.com/free-photos-vectors/logo'>Logo vector created by catalyststuff - www.freepik.com</a>
    <a href='https://www.freepik.com/free-photos-vectors/food'>Food vector created by catalyststuff - www.freepik.com</a>
</p>

{% endblock %}