{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block body %}
<h1>This is for a new user</h1>

<h2>Navigation</h2>
<ul>
    <li><a href = "/">food list</a></li>
    <li><a href = "/profile">profile</a></li>
</ul>

<h2>Create an account</h2>
<form action="/register" method="POST">
    <p>
        Username<input type="text" name="user_name">
    </p>
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="text" name="password">
    </p>
    <p>
        Select an image:
        <label>
            <input type="radio" name="user_img" value="/static/img/delivery.jpg">
            <img src="/static/img/delivery.jpg" alt="Delivery Driver">
        </label>
        <label>
            <input type="radio" name="user_img" value="/static/img/pizza.jpg">
            <img src="/static/img/pizza.jpg" alt="Pizza">
        </label>
        <label>
            <input type="radio" name="user_img" value="/static/img/astronaut.jpg">
            <img src="/static/img/astronaut.jpg" alt="Astronaut Eating a Hambuger">
        </label>
        <label>
            <input type="radio" name="user_img" value="/static/img/octopus.jpg">
            <img src="/static/img/octopus.jpg" alt="Octopus Chef">
        </label>
        
    </p>
    <p>
        <input type="submit">
    </p>
</form>

{% endblock %}