{% extends 'base.html' %} 

{% block title %} User food home {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1>Food search results:</h1>
            <form action="/add-item">
                {% for id, name in food_choice.items() %}
                <input class="text-wrap" type="radio" name="select-food" value="{{ id }}">
                <label>{{ name }}</label>
                <br>
                {% endfor %}
                <button class="btn btn-outline-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="row col-6">
            <img class="var-food img-fluid" src="/static/img/food.jpg" alt="various food">
        </div>
    </div>
</div>
{% endblock %}